{% extends 'base.html.twig' %}

{% block title %}New Scan{% endblock %}

{% block body %}
    <h1>Create new Scan</h1>

    {{ include('admin/scan/_form.html.twig') }}

    <a href="{{ path('app_admin_scan_index') }}">back to list</a>
{% endblock %}
