{% extends 'base.html.twig' %}

{% block title %}New QRCode{% endblock %}

{% block body %}
    <h1>Create new QRCode</h1>

    {{ include('admin/qr_code/_form.html.twig') }}

    <a href="{{ path('app_admin_qr_code_index') }}">back to list</a>
{% endblock %}
